<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Named Entity Tagger</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Inconsolata&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    <div class="container">
      <h1 class="logo">
        <a href="http://promo.yhathq.com/yhat-a-launch/">
            <span class="yo">ŷ</span><span class="yg">hat</span>
            <!--<img class="hat" src="img/hat-vday.svg" alt=""/>-->
        </a>
        <span class="plus">&plus;</span>
        <img class="twitter" src="/images/twitter-logo-blue.png" alt="">
      </h1>

      <h3>
        <a href="http://blog.yhathq.com/posts/twitter-tagger.html">How it works</a> &nbsp; &nbsp; <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://twitter-tagger.yhathq.com" data-via="yhathq" data-size="large">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </h3>

      <div class="row boxes">
        <div class="col-sm-6">
            <h5>Tags</h5>
            <p id="tags" class="lead"></p>
        </div>
        <div class="col-sm-3">
            <h5>Seen</h5>
            <p id="n_tweets" class="lead"></p>
        </div>
        <div class="col-sm-3">
            <h5>Tagged</h5>
            <p id="n_tagged" class="lead"></p>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-3 untagged">
          <h5>UNTAGGED</h5>
        </div>
        <div class="col-md-3 tagged">
          <h5>TAGGED BY YHAT</h5>
        </div>
        <div class="col-md-3 person">
          <h5>PERSON</h5>
        </div>
        <div class="col-md-3 place">
          <h5>PLACE</h5>
        </div>
      </div>

      <div id="tweets">
        <h3 id="status">Connecting...</h3>
      </div>
    </div>

    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/event.js"></script>
    <script type="text/javascript">
      var modelN = <%- MODEL_N %>,
          hostname = "<%- servername %>",
          tags = <%- JSON.stringify(tags) %>;
    </script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37140626-1']);
  _gaq.push(['_setDomainName', 'yhathq.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
