<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    <h1>Tweets mentioning: <%= keywords %></h1>
    <pre id="console"></pre>

    <script src="/js/main.js"></script>
  </body>
</html>