body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.untagged {
  background-color: #EBC2D6;
}
.tagged {
  background-color: #FFFFCC;
}

.person {
  background-color: coral;
}
.place {
  background-color: #99FFFF;
}

PERSON {
  background-color: coral;
}

PLACE {
  background-color: #99FFFF;
}
